
<mat-card>
    <mat-card-title>User Login</mat-card-title>


<mat-card-content>

    <form class="example-form"  #loginform="ngForm" (submit)="ProdceedLogin(loginform)" >  
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>privateNumber</mat-label>
          <input matInput placeholder="privateNumber" required name="privateNumber" ngModel>
        </mat-form-field>
      
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput placeholder="password" required type="password" name="password" ngModel>
        </mat-form-field>
        <div>
          <button mat-raised-button type="submit" color="Primary">login</button>
          <a mat-raised-button style="margin:5px" color="accent" (click)="RedirectRegister()">Register</a>
        </div>
      </form>
      

</mat-card-content>
</mat-card>
  <!-- #loginform="ngForm"  -->